<div class="container">

    <form action="/waiters/{{username}}" method="post">
        {{!-- <div class="logout">
            <a href="/logout"> <i class="fa fa-sign-out"></i></a>
        </div> --}}

        <div class="appName">
            <h1>Waiter Availability</h1>

            <h3 class="greetText">Hello, <span>{{username}}!</span></h3>
        </div>

        <div class="row-App">

            <div class="waiterName">
                <span for="">Name:</span>
                <input placeholder="Placeholder" value="{{username}}" type="text" class="nameField" name="nameField">
                
            </div>

            {{!-- <div class="waiterName">
                <span>Name</span>
                <input type="text" class="nameField" name="nameField" value="{{username}}"
                    placeholder="please enter name...">
            </div> --}}
        </div>
        <br>

        <div class="days">

            {{#each daynames}}
            {{!-- <p> --}}

            <label>
                <input type="checkbox" id="{{this.id}}" value={{this.day_name}} name="workday" />
                <span>{{this.day_name}}</span>
            </label>
            {{!-- </p> --}}
            {{!-- <input type="checkbox" id="{{this.id}}" value={{this.day_name}} name="workday">{{this.day_name}} --}}
            {{/each}}
        </div>
        <br>
        <br>

        <div class="buttons">
            <button class="button-primary submitBtn " type="submit">add shifts</button>
            {{!-- <a href="/admin" class="button-secondary admin" name="reset">Admin</a>
            <a href="/" class="button-secondary admin" name="login">Back to login</a> --}}
        </div>
        <hr>
        {{!-- <div class="display">

        </div> --}}

        {{#if messages.success}}
        <div class="success">
            <p>{{messages.success}}</p>
        </div>
        {{/if}}

    </form>
</div>