<div class="container">

    <form action="/waiters/{{username}}" method="post">
        {{!-- <div class="logout">
            <a href="/"><i class="fas fa-sign-out-alt" style="color:#DDDDDD;"></i></a>
        </div> --}}

        <div class="appName">
            <h1>Waiter Availability</h1>

            <h3 class="greetText">Hello, <span>{{username}}!</span></h3>
        </div>

        <div class="row-App">

            <div class="waiterName">
                <span>Name</span>
                <input type="text" class="nameField" name="nameField" value="{{username}}"
                    placeholder="please enter name...">
            </div>
        </div>

        <br>
        <div class="days">

            {{#each daynames}}

            <input type="checkbox" id="{{this.id}}" value={{this.day_name}} name="workday">{{this.day_name}}
            {{/each}}

        </div>
        <br>
        <br>

        <div style="display: inline-block;"class="buttons">
            <button class="button-primary submitBtn " type="submit"><i class="fas fa-plus-square"></i> add shifts</button>
           
        </div>
        
        <button class="button-secondary homeBtn" type="submit"><a href="/"><i class="fas fa-home"></i> Home</a></button>
        <hr>

        {{#if messages.success}}
        <div class="success">
            <p>{{messages.success}}</p>
        </div>
        {{/if}}

    </form>
</div>

<script>
    setTimeout(function () {
        document.querySelector(".success").innerHTML = ""
    }, 6000)

</script>